  body {
      font-family: Arial, sans-serif;
      padding: 20px;
  }

  .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .buttons {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
  }

  input[type="text"] {
      width: 40px;
      text-align: center;
  }

  button {
      padding: 5px 10px;
      cursor: pointer;
  }

  /* Png */
 .container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     /* Вирівнювання елементів по горизонталі */
     align-items: center;
     /* Вирівнювання по вертикалі */
     gap: 20px;
     /* Відстань між елементами */
 }

 .zillia {
     display: flex;
     flex-direction: column;
     /* Вертикальне розташування вмісту кожного елемента */
     align-items: center;
 }

 .png {
    width: 350px;
    border-radius: 10px;
 }

 .buttons {
     margin-top: 10px;
     /* Відступ між кнопками та зображенням */
 }

 .buttons-container {
     display: flex;
     justify-content: center;
     /* Центрування кнопки по горизонталі */
     margin-top: 20px;
     /* Відступ від контейнера з зіллям */
 }

